
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow{
    background-color: #ffcc00;
}

.orange{
    background-color: #ff9900;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
     font-size: 100px;
}

.circle-face{
    background-color:white;
    height: 300px;
    width: 300px;
    border-radius: 150px;
}